---
Checks:          '*,-cppcoreguidelines-*,-fuchsia-*,-google-*,-zircon-*,-abseil-*,-modernize-use-trailing-return-type,-llvm-*,-llvmlibc-*,-readability-named-parameter,-hicpp-avoid-c-arrays,-modernize-avoid-c-arrays,-hicpp-no-array-decay,-readability-magic-numbers,-misc-non-private-member-variables-in-classes,-hicpp-signed-bitwise,-hicpp-vararg'
WarningsAsErrors: '1'
HeaderFilterRegex: ''
FormatStyle:     none
